#//myregistryurl.com/:_authToken=YWRtaW46cGFzc3cwcmQ=
#registry=http://54.183.21.101:8081/africaunited/repository/apple-bits-npm-repo/
always-auth=true
auth=YWRtaW46cGFzc3cwcmQ=
#username = admin
#password = tobi123
allowRepublish=true
email=epeytheodore251@yahoo.com
